*{
    background-color: #2f4f4f;
}
.webpage_name{
   display: flex;
   flex-wrap: wrap;
    border: 1px black solid; 
    box-sizing: border-box;
    position: relative;
    top: 10px;
    left: 30px; 
    z-index: 10;
    width: 300px;
    margin-left: 10px;
    overflow: hidden;

}
.logo{
    position: relative;
}
.welcome{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    overflow: hidden;
    background-color: #2f4f41;
    z-index: 20;
    position: relative;
    margin-left: 35%;  
    float: right;
    margin-bottom: 10px;
}
.vo{
    background-color: #2f4f41;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}
.socialmedia{
    position: relative;
    margin: auto;
    background: transparent;
    float: right;
    border: 1px transparent solid;
    background-color: #2f4f41;
    margin-left: 70%;
    height: 40px;
    width: 100px;
}
.socialmediabutton{
   
    position: relative;
    float: left;
    margin-left: 3%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-sizing: border-box;
}
.socialmediabutton:hover{
    zoom: 1;
}
.cont{
    margin: auto;
    position: relative;
    z-index: 1;
    margin-left: 10%;
    margin-right: 3%;
}
.offers{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
   justify-content: center;
    position: relative;
    margin-top: 8%;
    overflow: hidden;
    z-index: 5;
}
.splashtxt{ 
    position: absolute;
    color:  #e5eae7;
    background:transparent;
    overflow: hidden;
}
.splash,.splashtxt{
    float: right;
    border: 1px transparent solid;
    position: relative;
    box-sizing: border-box;
}
.splashsize{
    position: relative;
    width: 350px;
    height: 300px;
    border: 1px black solid;
    box-sizing: border-box;
}
.imgsplash{

    float: left;
    position: relative;
    box-sizing: border-box;

}
#crack{
    position: absolute;
    top: 0; left: 0;
   
    
    z-index: 3;
    animation: slideshow 20s linear 0s infinite;
}
.search:hover{
    zoom:150%;
    z-index: 10;
}
.main_nav{
  
    border: 1px black solid;
    box-sizing: border-box;
    position: fixed;
    top: 350px;
    left: 2%;
    width: 100px;
    height: 100px;
    background-color: #2f4f4f;
    z-index: 6;  
    overflow: hidden; 
    transition: top 0.3s; 
    text-align: left;
    border-radius: 6%;
}

.main_nav:hover{
    display: flex;
    flex-wrap: wrap;
    transition: 0.6s;
    width: 155px;
    height: 45%;
    border: 1px wheat solid;
   
    
   
}
.navhome,.navesearch{
background-color:  #395b48;
}
.txt_nav{
    color:#e5eae7;
    background-color: #2f4f4f;
   text-align: left;
    
}
.navtext{
    background-color: #2f4f4f;
    position: relative;
    color: cornsilk;
    text-align: left;
}
ul{
    text-align: left;
}
#navtitle{
    text-align: left;
    
}
.search{
    border: 1px white solid;
   margin-left: 20%;
   margin-right: 10%;
   margin-bottom: 7%;
   margin-top: 7%;
    width: 70%;
    height: 100px;
    box-sizing: border-box;
    object-position: center;
}

.search input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #d4d4d4;
    margin: 1%;

  }
  .search button {
    float: left;
    padding: 10px;
    background: #63b9ff;
    color: white;
    font-size: 90%;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-left: 1%;
    margin-top: 1%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
  }
  
 .search button:hover {
    background: #0b7dda;
  }
  
 .search::after {
    content: "";
    clear: both;
    display: table;
 }
 .categoriestxt{
    text-align: center;
    color: rgb(206, 204, 204);

}

.categories, .productlist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    overflow: hidden;

}
.pr{
    margin: 1%;
}

.cart,.product{
    
    border: 1px rgb(172, 171, 171) solid;
    position: relative;
    box-sizing: border-box;
    margin: 1%;
    margin-left: 1%;
    width: 300px;
    height: 370px;
}
.cart_txt,.product_txt{
    position: absolute;
   top: 61%;
   text-align: left;
   background: transparent;
   color: white;
  
 }
.cart:hover, .product:hover{
    zoom:103%;
    border: 1px rgb(128, 117, 117) solid;
    color: rgb(192, 187, 187);
    font-size: 22px;
    transition: 0.5s;  
}
.cart_images{
    width: 100%;
    height: 60%;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}

.company_info{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 5%;
    margin-top: 70px;
    position: relative;
    z-index: 12;
}
.webpage_logox{
    border: 1px black solid; 
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 160px;
    width: 200px;
}
.logoB{
    height: 100%;
    width: 100%;
    position: relative;
}
.socialmediaB{
    
    position: relative;
    background: transparent;
    margin-left: 40px;
    margin-top: 20px;
    border: 10px black solid;
    height: 20px;
    width: 20px;
    float: left;
    border: 1px transparent solid;
}
.socialmediabuttonB{
   
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 50%;
    border: 1px black solid;

}
.copyright{
    text-align: center;
    color: whitesmoke;
    margin-top: 80px;
    margin-left: 100px;
   
    overflow: hidden;
}
.product_images{
width: 100%;
height: 60%;
position: absolute;
padding: 5px;
box-sizing: border-box;
overflow: hidden;
}

.contdetalis{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:50px;
    border: 1px black solid; 
    overflow: hidden;
}
.details{
    border: 1px black solid; 
    font-size: 20px;
}
.image_det{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    width: 40%;
    border: 1px black solid;
    position: relative;
    margin-left: 30%;
    margin-right: 35%;
    margin-top: 5%;
    overflow: hidden;
   
}
.product_images-details{
    width: 100%;
    height: 100%;
}
.product_txt_details{
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.nikexx,.adidasx,.pradax,.reebokx,.vansx,.filax{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    margin-bottom: 200px;
}
.titleproductcart{
    display: flex;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-right: 40%;
    margin-left: 45%;
}
.cart_back{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top:50px;
    border: 1px black solid; 
    overflow: hidden;
    
}
.buttons{
    display: flex;
    flex-wrap: wrap;
   
}


.moredetails,.addcart{
    flex-wrap: wrap;
    position: relative;
    border: 1px transparent solid;
    margin-top: 103%; 
    margin-left: 14px;
    color:transparent;    
}
.moredetails:hover,.addcart:hover,.back:hover,.addcartx:hover{
    transition: 0.7s;
    border-radius: 20%;
    zoom: 110%;   
    color: whitesmoke;
    font-size: 15px;
    
}
.icon:hover{
    transform: rotate(30deg) ;
    transition: 0.7s;
}
.back,.addcartx{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 1px transparent solid;
    margin-top: 1%; 
    margin-left: 28%;
    margin-bottom: 1%;
    color: transparent;
    
    justify-content: center;
    font-size: 20px;
    text-underline-position: alphabetic;
}
.totals{
    display: flex;
    flex-wrap: wrap;
    margin: 3% 16%;
    border: 1px whitesmoke solid;
    color: cornsilk;
}
.cartshell{
    position: relative;
    background: #3f6969;
    width: 90%;
    height: 390px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    margin:40px;
}
.cartshellcont{
    background: #3f6969;
    float:right;
    color: black;
    margin-top: -30%;
    margin-left: 50%;
}
.numberofitems,.bt{
    background-color: white;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}
